<div class='title' src='assets/img/title.svg' #title [class.small]='scrolledOnce' [class.hide]='currentSlide > 0' (click)='scrollMore("div[data-slide-idx=\"0\"]"); reset()'></div>
<div class='slides' *ngIf='slides' #slidesContainer>
  <div class='slide' *ngFor='let slide of slides; let i = index' 
      [attr.data-slide-idx]='i' 
      [attr.id]='slide.slug'
      [class.header-slide]='!!slide.slug && slide.slug !== "introduction"'
      [class.intro-slide]='slide.slug === "introduction"'
      [class.laws-slide]='i === content.lawsSlideIndex  || i === content.lawsSlideIndex2 || i === content.lawsSlideIndex2 + 2'
      [class.laws-slide-2]='i === content.lawsSlideIndex+1'
    >
    <div class='slide-text' [innerHtml]='slide.textHtml'></div>
    <ng-container *ngIf='bills && (i === content.lawsSlideIndex || i === content.lawsSlideIndex2)'>
      <app-bills [currentSlide]='currentSlide' [bills]='bills' [targetSlide]='i'></app-bills>
    </ng-container>
  </div>
</div>
<ng-container *ngIf='countries && steps'>
  <app-stages [countries]='countries' [steps]='steps' [active]='active' #stages></app-stages>
</ng-container>
<div class='scroll-on' [class.hide]='scrolledOnce' (click)='scrollMore("div[data-slide-idx=\"" + (currentSlide + 1) + "\"]")'></div>
<a class='skip-to-end' href='#outro' [class.hide]='scrolledOnce'></a>

<div class='share-cta' *ngIf='scrolledOnce'>
  <p>יש אנשים שחשוב שיראו את זה.<br/><strong>שתפו איתם עכשיו</strong></p>
  <div class='share'>
    <a class='twitter' [href]='twitterShare' target='_blank'></a>
    <a class='facebook' [href]='fbShare' target='_blank'></a>
    <a class='whatsapp' [href]='whatsappShare' target='_blank'></a>
    <a class='mobile-share layout-mobile' (click)='mobileShare()'></a>
  </div>
</div>

<div class='steps-guide' [class.visible]='currentSlide > content.lawsSlideIndex + 1'>
  <div class='step' *ngFor='let step of steps; let idx = index;' #steptext>
    <a [href]='"#" + step.name' class='step-text' [class.active]='idx === currentStepIndex' [class.disabled]='idx > currentStepIndex'>{{step.display}}</a>
  </div>
</div>

<div class='footer-container' *ngIf='scrolledOnce'>
  <div class='footer' data-slide-idx='-1'>
    <div class='footer-section' *ngIf='content.methodology'>
      <h3>מתודולוגיה ונתונים</h3>
      <div [innerHTML]="md._(content.methodology)"></div>
    </div>
    <div class='footer-section' *ngIf='content.credits'>
      <h3>קרדיטים</h3>
      <div [innerHTML]="md._(content.credits)"></div>
    </div>
  </div>
  <div class='berl'>
    <img src='assets/img/berl.svg'/>
  </div>  
</div>