@import './common.less';

:host {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    app-stages {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .footer {
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
    }

    .slides {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding: 20px;
        z-index: 10;
        pointer-events: none;

        .slide {
            width: 100%;
            max-width: 640px;
            flex: 0 0 100vh;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .font;
            font-weight: 400;
            font-size: 28px;
            line-height: 32px;
            color: @blue;
            pointer-events: none;

            ::ng-deep {
                p {
                    margin: 0;
                    width: 100%;    
                }
            }
        }
    }

    .scroll-on {
        position: absolute;
        top: calc(100vh ~'-' 24px);
        transform: translateY(-100%);
    }
}