html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    direction: rtl;
}

*, *:before, *:after {
    box-sizing: inherit;
}
