:host {
    width: 100%;
    height: 100vh;

    ::ng-deep {
        .path {
            stroke: #cccccc;
        }
        &.revealed {
            .path {
                stroke-dashoffset: 0 !important;
                // animation: dash 2s linear forwards;
            }
        }
    }
}