<img src='../../assets/img/pin-up.svg' class='pin-up' (mouseover)='setHover(true)' (mouseout)='setHover(false)' [class.blink]='blink' lrlr>
<img [src]='flag' class='flag' [class.blink]='blink' lrlr/>
<div class='backdrop' *ngIf='hover || !animated' 
    [style.left]='moveRight + "px"' 
    [style.visibility]='visible ? "visible" : "hidden"'
    #backdrop>
    <div class='country-name' lrlr>{{country.display}}</div>
    <div class='steps' *ngIf='hover'>
        <div class='step' *ngFor='let step of thisSteps; let i = index' [class.active]='thisStepsActives[i]'>
            <span class='step-color' [style.backgroundColor]='step.color'></span>
            <span class='step-text'>{{step.display}}</span>
        </div>
    </div>    
</div>
