@import '../common.less';

:host {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    transform: translateX(-100%)translateX(32.5px)translateY(6px);
    pointer-events: none;
    min-width: 200px;

    .pin-up {
        pointer-events: all;
        margin-right: 16px;
        &.blink {
            .blink;
        }
    }

    .flag {
        width: 30px;
        height: 30px;
        position: relative;
        top: -32px;
        margin-bottom: -20px;
        right: 17px;
        &.blink {
            .blink;
        }
    }

    &.animated {
        .pin-up, .flag {
            animation: appear 250ms ease-out both;
        }
    }

    .backdrop {
        background: rgba(250, 250, 250, 0.5);
        backdrop-filter: blur(16px);
        position: relative;
        padding-left: 8px;

        .country-name {
            .font;
            font-weight: 700;
            font-size: 16px;
            line-height: 15px;
            color: @blue;
            padding-right: 16px;
        }
    
        .steps {
            margin-top: 4px;        
            .step {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
    
                .step-color {
                    flex: 0 0 auto;
                }
                .step-text {
                    .font;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
    
                &:not(.active) {
                    .step-color {
                        width: 16px;
                        height: 0px;
                        background-color: transparent !important;
                    }
                    .step-text {
                        text-decoration-line: line-through;
                        color: #828282;    
                    }
                }
    
                &.active {
                    .step-color {
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        margin: 0 5px;    
                    }
                    .step-text {
                        color: @blue;
                    }
                }
            }
        }
    }
}

@keyframes appear {
    0% {
        transform: translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}